<!doctype html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
</head>

<body>
  <header>
    <nav>
      <ul>
        <li><a href="{{ url_for('index') }}">Café</a></li>
        <li><a href="{{ url_for('cardapio') }}">Almoço</a></li>
      </ul>
    </nav>
  </header>

  <main>
    {% block conteudo %}{% endblock conteudo %}
  </main>
</body>

</html>